---
layout: default
---

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="{{ "/img/protoipo.svg" | prepend: site.baseurl }}" width="100%">
        <p style="font-size: 24px; text-align: center; margin-top: -7em; margin-bottom: 7em;">
            {% include tagline.md %}
        </p>
    </div>
</div>
<div class="row" style="position: relative; top: -13em">
    <div class="col-md-6 col-md-offset-3">

    </div>
</div>
<div class="row cover">
    <div style="font-size: 64px; margin: 0 auto; text-align: center; position: relative; top: 237px; margin-top: -0.5em">
        Who are we?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include who-we-are.md %}
    </div>
</div>
<div class="row cover">
    <div style="font-size: 64px; margin: 0 auto; text-align: center; position: relative; top: 237px; margin-top: -0.5em">
        What do we do?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include what-we-do.md %}
    </div>
</div>
<div class="row cover">
    <div style="font-size: 64px; margin: 0 auto; text-align: center; position: relative; top: 237px; margin-top: -0.5em">
        Where can you find us?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include where-to-find-us.md %}
    </div>
</div>
<div class="row cover small">
    <!-- footer -->
</div>
