---
layout: default
---

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="{{ "/img/protoipo.svg" | prepend: site.baseurl }}" width="100%">
        <p class="tagline">
            {% include tagline.md %}
        </p>
    </div>
</div>
<div id="header" class="row cover small">
    {% include links.html %}
</div>
<div id="who-are-we" class="row cover">
    <!-- Background image by Ken Teegardin (https://www.flickr.com/photos/teegardin/) (CC BY-SA) -->
    <div class="cover-title">
        Who are we?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include who-we-are.md %}
    </div>
</div>
<div id="what-do-we-do" class="row cover">
    <!-- Background image by Scott S (https://www.flickr.com/photos/glass_window/) (CC BY) -->
    <div class="cover-title">
        What do we do?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include what-we-do.md %}
    </div>
</div>
<div id="where-can-you-find-us" class="row cover">
    <!-- Background image by Stuart Seeger (https://www.flickr.com/photos/stuseeger/) (CC BY) -->
    <div class="cover-title">
        Where can you find us?
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text">
        {% include where-to-find-us.md %}
    </div>
</div>
<div id="footer" class="row cover small">
    {% include links.html %}
</div>
