.cover {
    min-height: 560px;
    max-height: 560px;
    background: #CCC;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    &.small {
        min-height: 0;
        text-shadow: none;
    }
}

.cover-title {
    font-size: 64px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 236px;
}

.text {
    padding: 2em;
    font-size: 20px;
    text-align: justify;
    color: #606163;
    a {
        color: #01B1F0;
    }
}

.tagline {
    color: #606163;
    font-size: 24px;
    text-align: center;
    margin-top: -28%;
    margin-bottom: 28%;
}

#header, #footer{
    background: #01B1F0;
    color: #fff;
    a {
        color: #fff;
    }
}

.center {
    text-align: center;
}

#who-are-we {
    background: #606163 url("/img/who-are-we.png") center no-repeat fixed !important;
    background-size: cover;
}

#what-do-we-do {
    background: #606163 url("/img/what-do-we-do.png") center no-repeat fixed !important;
    background-size: cover;
}

#where-can-you-find-us {
    background: #606163 url("/img/where-can-you-find-us.png") center no-repeat fixed !important;
    background-size: cover;
}

@include media-query($tablet) {
    .cover {
        max-height: 480px;
    }
}
